* {
    font-family: JetBrainsMono, monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #cdd6f4;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#clock {
    background-color: #458588; /* A teal color */
    color: #e0def4; /* White text */
    padding: 0 10px; /* Add horizontal padding */
    border-radius: 0px 10px 10px 0px; /* Rounded corners on the right side only */
    margin-right: 5px; /* Spacing from next module */
}

#battery, #network, #cpu, #memory {
    padding: 0 10px;
}
